<app-header [sidenavToggle]="toggleSidebar"></app-header>

<app-sidebar
  class="sidebar"
  [@sidebarSlide]="isSidebarClosed ? 'closed' : 'open'">
</app-sidebar>

<div
  class="main-content"
  [class.sidebar-closed]="isSidebarClosed">
  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>



<!-- <app-header [sidenav]="sidenav"></app-header>

<mat-sidenav-container class="main-container">
  <mat-sidenav #sidenav mode="side" opened class="app-sidenav">
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container> -->




<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header [sidenav]="sidenav"></app-header>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container> -->
