.customer-card {
  padding: 16px;
}

.customer-form {
  width: 100%;
}

/* USER INFO CARD */
.customer-info-card {
  padding: 16px;
  background: var(--mat-sys-surface-container-high);
  border-radius: 8px;
  border: 1px solid var(--mat-sys-outline-variant);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;

  @media (max-width: 700px) {
    grid-template-columns: 1fr;
  }
}

/* LEFT COLUMN */
.left-col {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.avatar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--mat-sys-outline-variant);
}

.upload-btn {
  width: 100%;
  position: relative;
  overflow: hidden;

  input[type='file'] {
    position: absolute;
    opacity: 0;
    inset: 0;
    cursor: pointer;
  }
}

/* RIGHT COLUMN */
.right-col {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  @media (max-width: 700px) {
    grid-template-columns: 1fr;
  }
}

.checkbox-row {
  display: flex;
  gap: 24px;
}
