<h2 mat-dialog-title>{{ isEditMode ? 'Edit Customer' : 'Add Customer' }}</h2>

<mat-dialog-content>
  <mat-card class="customer-card">
    <form [formGroup]="form" class="customer-form">
      <div class="grid-layout">
        <!-- LEFT COLUMN: Blank for now -->
        <div class="left-col">
          <div class="form-grid">
            <!-- ROW 1 -->
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" />
            </mat-form-field>
            <!-- ROW 2 -->
            <mat-form-field appearance="fill">
              <mat-label>Company Name</mat-label>
              <input matInput formControlName="company_name" />
            </mat-form-field>

            <!-- ROW 3 -->
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email_address" />
            </mat-form-field>
            <!-- ROW 4 -->
            <mat-form-field appearance="fill">
              <mat-label>Phone</mat-label>
              <input matInput formControlName="phone_number" />
            </mat-form-field>
          </div>
        </div>

        <!-- RIGHT COLUMN: User Fields -->
        <div class="right-col">
          <div class="form-grid">
            <!-- ROW 1 -->
            <mat-form-field appearance="fill">
              <mat-label>Address Line !</mat-label>
              <input matInput formControlName="address_line_1" />
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Address Line 2</mat-label>
              <input matInput formControlName="address_line_2" />
            </mat-form-field>

            <!-- ROW 2 -->
            <mat-form-field appearance="fill">
              <mat-label>City</mat-label>
              <input matInput formControlName="city" />
            </mat-form-field>

            <!-- ROW 3 -->
            <mat-form-field appearance="fill">
              <mat-label>State</mat-label>
              <mat-select formControlName="state">
                <mat-option value="CO">Colorado</mat-option>
                <mat-option value="CA">California</mat-option>
                <mat-option value="NY">New York</mat-option>
              </mat-select>
            </mat-form-field>

            <!-- ROW 4 -->
            <mat-form-field appearance="fill">
              <mat-label>Postal Code</mat-label>
              <input matInput formControlName="postal_code" />
            </mat-form-field>
          </div>

          <div class="checkbox-row">
            <mat-checkbox formControlName="status">Active</mat-checkbox>
          </div>
        </div>
      </div>
    </form>
  </mat-card>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>
