body {
  font-family: 'Inter', sans-serif;
}

// audio {
//   position: fixed;
//   width: 0;
//   height: 0;
//   opacity: 0;
//   pointer-events: none;
// }

audio {
  position: relative;
  opacity: 1;
  width: 300px;
  height: 40px;
}


