:host {
  display: block;
  background-color: var(--mat-sys-surface-container-low);
  color: var(--mat-sys-on-surface-variant);
  text-align: center;
  padding: 8px 0;
  font: var(--mat-sys-body-small);
}

@media (max-width: 599px) {
  .content-area {
    padding-bottom: 48px; // match footer height
  }
}
